/* AdminManage.css */
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('../../../assets/UTMimage13.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Additional styles for the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Additional styles for the box */
.listcontainer {
  max-width: 2000px; /* Adjust as needed */
  text-align: left;
  border: 3px solid #82022b ;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 1%;
  padding-bottom: 2%;
  margin-top: 28px;
}

/* Additional styles for headings */
.listtitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #82022b;
  text-align: center;
}

/* Additional styles for the table */
.listtable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.header,
.data {
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: left;
  background-color: #FFFBD6;
}

.header{
  background-color: #990000;
  color: #fff;
}

/* Additional styles for the list item */
.listitem {
  background-color: #f9f9f9;
}

/* Style span elements inside list items */
.detaillabel {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

/* Additional styles for the add admin button */
.addadminbuttoncontainer {
  text-align: center;
  margin-top: 20px;
}

.addadminbutton {
  background-color: #82022b;  /* Green color, adjust as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  text-align: center;
}

.modalButtons {
  margin-top: 20px;
}

.yesbutton {
  background-color: #82022b;  /* Green color, adjust as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing to the right */
}

.yesbutton:hover {
  background-color:#5c001e; /* Green color, adjust as needed */
}

.nobutton {
  background-color: grey; /* Green color, adjust as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px; /* Add spacing to the left */
}

.nobutton:hover{
  background-color: rgb(92, 92, 92); /* Green color, adjust as needed */
}

.addadminbutton:hover {
  background-color:#5c001e; 
}

.h2delete {
  color: #ffc107;
}