/* AdminReport.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .listcontainer {
    max-width: auto;
    overflow: auto; /* Allow horizontal scrolling if needed */
    margin: 20px auto; /* Center the list */
  }
  
  .listtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .listtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .listitem {
    border-bottom: 1px solid #ddd;
  }
  
  .data {
    padding: 10px;
  }
  
  .detaillabel {
    display: block;
    font-weight: bold;
  }
  
  .messageColumn {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mainContentContainer {
    margin-left: 250px;
    padding: 20px;
    transition: margin 0.3s;
  }
  