/* VerticalNavbar.css */

.verticalnavbar {
  width: 250px;
  /* Set the desired width for your vertical navbar */
  height: 100%;
  /* Fill the entire height of the page */
  background-color: #333;
  color: #fff;
  /* padding: 10px; */
  position: fixed;
  /* Fix the navbar's position */
  /* overflow-y: auto; */
  /* Add a scrollbar if the content overflows the navbar */

  /* Adjust the font size */
  font-size: 16px;
  /* Change the value to set your desired font size */

  transition: width 0.3s ease-in-out;
}

.navbarlist {
  list-style-type: none;
  padding: 20px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.hover {
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;
}

.hover:hover {
  color: #2980b9;
  /* Hover color change */
}

.dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.dashboardicon {
  margin-right: 10px;
}

.mapsicon {
  margin-right: 10px;
  margin-bottom: -3px;
}

.profileicon {
  margin-right: 10px;
  margin-bottom: -3px;
}

.manageicon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.feedbackicon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.routesicon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.logouticon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.logout{
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;

}

.logout:hover {
  color: #e74c3c;
}

.mainContentContainer {
  margin-left: 250px;
  transition: margin 0.3s;
}

.toggleButton {
  display: none;
  position: fixed;
  top: 13px;
  left: 10px;
  font-size: 20px;
  background-color: #2F4050;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 736px) {
  .verticalnavbar {
    width: 0;
    z-index: 1;
    overflow: hidden;
  }

  .open {
    z-index: 0;
    width: 60%;
  }

  .dashboard,
  .list {
    width: 90%;
    font-size: 18px; 
  }

  .toggleButton {
    display: block;
  }
}