.map-container {
  margin-left: 25%;
  padding-top: 2%;
}

.bus-route-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.buttonContainerStyle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
};

@media (max-width: 768px) {
  .buttonContainerStyle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

.iframeContainer {
  position: absolute;
  margin-left: 270px;
  margin-top: 700px;
  width: 50%;
  padding: 10px; /* Optional: Add padding for better appearance */
  background-color: #fff; /* Optional: Add a background color if needed */
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for separation */
}

.iframeContainer iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.rightBottomButton {
  position: absolute;
  top: 40px;
  right: 320px;
  padding: 10px;
}

.rightBottomButton2 {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 250px; /* Set the width as needed */
  padding: 10px;
  background-color: #fff;
}

.button2table {
  width: 100%;
  border-collapse: collapse;
}

.button2th, .button2td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.buttontable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Add border to the table */
}

.buttontd, .buttonth {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.buttonth {
  background-color: #f2f2f2;
}

.button2th {
  background-color: #f2f2f2;
}
