.map-container {
  margin-left: 25%;
  padding-top: 2%;
}

.bus-route-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.buttonContainerStyle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
};

@media (max-width: 768px) {
  .buttonContainerStyle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}