/* DriverBusSelect.module.css */

.buttonContainerStyle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .buttonContainerStyle button {
    padding: 10px;
    margin: 5px;
    background-color: #3498db; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonContainerStyle button:hover {
    background-color: #2980b9;
  }
  
  .selectBusButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
  .selectBusButton button {
    padding: 10px;
    margin: 5px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .selectBusButton button:hover {
    background-color: #c0392b;
  }