/* DriverBusSelect.module.css */

.buttonContainerStyle {
    position: absolute;
    top: 120px;
    right: 200px;
    background-color: #fff;
    border-radius: 5px;
    @media screen and (max-width: 736px){
        top: 10%;
        left: 43%;
        width: 20%;
        right: auto;
    }
}

.buttonContainerStyle button {
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonContainerStyle button:hover {
    background-color: #2980b9;
}

.selectBusButton {
    position: absolute;
    top: 120px;
    right: 60px;
    background-color: #fff;
    @media screen and (max-width: 736px){
        top: 10%;
        left: 8%;
        width: 30%;
        right: auto;
    }
}

.buttontable {
    width: 50%;
    border-collapse: collapse;
        border: 1px solid #ddd;
}

.selectBusButton button {
    padding: 10px;
    margin: 5px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selectBusButton button:hover {
    background-color: #c0392b;
}

.iframeContainer {
    width: 22%;
    padding: 0px;
    margin-left: 800px;
    box-sizing: border-box;
}

.button2table {
    width: 100%;
    border-collapse: collapse;
}

.button2th,
.button2td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/UTMimage13.jpg');
    background-size: cover;
    background-position: center;
  }