/* DriverBusSelect.module.css */

.buttonContainerStyle {
    position: absolute;
    top: 120px;
    right: 330px;
    background-color: #fff;
}

.buttonContainerStyle button {
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonContainerStyle button:hover {
    background-color: #2980b9;
}

.selectBusButton {
    position: absolute;
    top: 20px;
    left: 270px;
    background-color: #fff;
}

.buttontable {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.selectBusButton button {
    padding: 10px;
    margin: 5px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selectBusButton button:hover {
    background-color: #c0392b;
}

.iframeContainer {
    width: 22%;
    padding: 0px;
    margin-left: 800px;
    box-sizing: border-box;
}

.button2table {
    width: 100%;
    border-collapse: collapse;
}

.button2th,
.button2td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}