.rightBottomButton {
  position: fixed;
  top: 5%;
  @media screen and (max-width: 736px) {
    left: 1%;
  }
  z-index: -1;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.rightBottomButton2 {
  position: fixed;
  top: 20%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
  @media screen and (max-width: 736px) {
    left: 1%;
  }
}

.button2table {
  width: 100%;
  border-collapse: collapse;
}

.button2th,
.button2td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.buttontable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.buttontd, .buttonth {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.buttonth {
  background-color: #333333;
  color: #ffffff;
}

.button2th {
  background-color: #333333;
  color: #ffffff;
}

@media screen and (max-width: 736px) {
  .button2table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
  }
  
  .button2th,
  .button2td {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: small;
    text-align: center;
  }
  
  .buttontable {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    overflow-x: auto;
  }
  
  .buttontd, .buttonth {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .buttonth {
    background-color: #333333;
    color: #ffffff;
  }
  
  .button2th {
    background-color: #333333;
    color: #ffffff;
  }
}