.rightBottomButton {
  position: absolute;
  bottom: 50px;
  z-index: -2;
  justify-content: center;
  align-items: center;
}

.rightBottomButton2 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
}

.button2table {
  width: 100%;
  border-collapse: collapse;
}

.button2th,
.button2td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.buttontable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.buttontd, .buttonth {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.buttonth {
  background-color: #333333;
  color: #ffffff;
}

.button2th {
  background-color: #333333;
  color: #ffffff;
}

@media screen and (max-width: 736px) {
  .rightBottomButton {
    position: absolute;
    bottom: -50px;
    z-index: -2;
  }
  
  .rightBottomButton2 {
    position: absolute;
    top: 20px;
    right: -80px;
    background-color: #fff;
  }
  
  .button2table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .button2th,
  .button2td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }
  
  .buttontable {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .buttontd, .buttonth {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .buttonth {
    background-color: #333333;
    color: #ffffff;
  }
  
  .button2th {
    background-color: #333333;
    color: #ffffff;
  }
}